[submodule "libs/php-dom-parser"]
	path = libs/php-dom-parser
	url = https://github.com/jkrrv/php-dom-parser.git
[submodule "docs"]
	path = docs
	url = https://github.com/drexelforchrist/CollegiateLinkAPI.wiki.git
